Pandas

In [10]:
import numpy as np
import pandas as pd

In [11]:
pets = pd.DataFrame({'sex': np.array(['M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'M']),
                   'age': np.array([21, 45, 23, 56, 47, 70, 34, 30, 19, 62]),
                   'pets': np.array([['cat', 'dog'],
                                    ['hamster'],
                                    ['cat', 'gerbil'],
                                    ['fish', 'hamster', 'gerbil'],
                                    ['cat'],
                                    ['dog'],
                                    ['dog'],
                                    ['cat'],
                                    ['rabbit', 'cat'],
                                    ['dog']])})

<ipython-input-11-697f91f7354f>:3: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  'pets': np.array([['cat', 'dog'],

In [12]:
pets

  sex  age                     pets
0   M   21               [cat, dog]
1   M   45                [hamster]
2   F   23            [cat, gerbil]
3   M   56  [fish, hamster, gerbil]
4   F   47                    [cat]
5   F   70                    [dog]
6   F   34                    [dog]
7   M   30                    [cat]
8   F   19            [rabbit, cat]
9   M   62                    [dog]

What sex was the youngest respondent?

In [71]:
#df=pd.DataFrame(pets)
#print(df.min())


print(pd.DataFrame(pets).min())

pets.loc[pets['age'] == min(pets['age']), 'sex']

sex             F
age            19
pets        [cat]
num_pets        1
dtype: object

8    F
Name: sex, dtype: object

What age was the person with the most pets?

In [45]:
#df=pd.DataFrame(pets)
#Create new integer list, use lambda function to apply (start,finish) 
#y=len(pets)

pets['num_pets'] = pets['pets'].apply(lambda x: len(x))

In [46]:
pets

  sex  age                     pets  num_pets
0   M   21               [cat, dog]         2
1   M   45                [hamster]         1
2   F   23            [cat, gerbil]         2
3   M   56  [fish, hamster, gerbil]         3
4   F   47                    [cat]         1
5   F   70                    [dog]         1
6   F   34                    [dog]         1
7   M   30                    [cat]         1
8   F   19            [rabbit, cat]         2
9   M   62                    [dog]         1

In [51]:
pets.loc[pets['num_pets'] == max(pets['num_pets']), 'age']

3    56
Name: age, dtype: int32

What was the most popular pet?

In [61]:
#pet_series = pets['pets'].apply(pd.Series).stack().reset_index(drop=True)

pets_series = pets['pets'].apply(pd.Series).stack().reset_index(drop=True)
pets_series

0         cat
1         dog
2     hamster
3         cat
4      gerbil
5        fish
6     hamster
7      gerbil
8         cat
9         dog
10        dog
11        cat
12     rabbit
13        cat
14        dog
dtype: object

In [64]:
pd.Series.value_counts(pets_series)

cat        5
dog        4
hamster    2
gerbil     2
rabbit     1
fish       1
dtype: int64

What was the average age of dog owners?

In [85]:
#pets.loc[pets['pets'].apply(lambda x: 'dog' in x), 'age']         #show only ages who have dog
                             
                             
pets.loc[pets['pets'].apply(lambda x: 'dog' in x), 'age'].mean()   #show mean of dogs only

46.75